set nocompatible
set history=1000
set showcmd
set showmode
set autoread
set laststatus=2
set ruler
set wildmenu
set cursorline
set noerrorbells
set visualbell
set mouse=a
set background=dark
set number
set relativenumber
set nobackup
set nowb
set shiftwidth=2
set expandtab
set nowrap
set scrolloff=2
set sidescrolloff=5
set confirm
syntax on
set nomodeline
colorscheme elflord
filetype plugin indent on
set statusline=%F%m%r%h%w%=(%{&ff}/%Y)\ (line\ %l\/%L,\ col\ %c)
set hlsearch
set ignorecase
set smartcase
set incsearch
set ai
set si
set foldenable
set foldlevelstart=10
set foldnestmax=10
nnoremap j gj
nnoremap k gk
let mapleader = "\<Space>"
nnoremap <Leader>w :w<CR>
map <C-K> :bprev<CR>
map <C-J> :bnext<CR>
set lazyredraw
set showmatch
set ttyfast
set undodir=~/.vim/undodir
